body{
    background-color:#EAF6F6;
}

hr{
    border-style: none;
    border-color:steelblue;
    border-top-style: dotted; 
    border-width: 5px;
    width: 10%;
}

h1{
    color: #0e9df0;
    text-align:center;
}

h3{
    color: #66BFBF;
}

#profile-pic
{
    border-radius: 100%;
}

#profile-pic:hover {
    border-radius: 30%;
}